
<div style="z-index:99; position: absolute; margin-left:5px; margin-top:5px;"> <img src="img/logo.png" width="65" height="99" /></div>
<div class="bar bar-header  bar-stable">
  <div class="h1 title"> </div>
  <button side="right" menu-toggle="right" class="button button-icon icon ion-navicon"></button>
</div>
<div class="geral">
  <div class="conteudo">
    <div style="text-align:center; margin-top:60px; margin-bottom:5px;"><img src="img/nuvens.png" width="254" height="71" /></div>
    <div style="font-family:'Hero'; text-align:center; font-size:22px; color:#235559; width:95%; margin:0 auto; line-height:22px; ">Uma nova forma de 
    <br /> encontrar o profissional <br />
que você precisa!</div>
     
  </div>
  <div class="rodape">    
     
  </div>
</div>
